p{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    color: #B8B8B8;
  }
  body{
    background-color: #202020;
    padding-top: 2%;
  }
  .milan{
    padding-left: 10%;
    box-sizing: border-box;
    border-color: grey;
    padding-top: 4%;
    border-radius: 19px;
  }
  h1{
    color: 	#B0B0B0;
    padding-left: 37%;
    font-family:"Arial, Helvetica, sans-serif";
    font-size: 37px;
    
  }
  .submit1 {
    background-color:grey;
    border: none;
    color: white;
    padding: 20px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 2px 2px;
    cursor: pointer;
  }