h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #d63232;
    padding-left: 33%;
    padding-top: 0px;
    font-size: 39px;
}
.button1 {
    background-color:rgb(36, 80, 160);
    border: none;
    color: white;
    padding: 20px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .button{
      color: blue;
  }
  h2{
      color: white;
      padding-left: 0%;

  }